[user]
	name = François Côté
	email = francois@francoiscote.net
	useConfigOnly = true
[alias]
	co = checkout
	count = !git shortlog -sn
	banane = fetch --prune
[color]
	status = auto
	branch = auto
	ui = true
[color "diff-highlight"]
  oldNormal    = "red bold"
  oldHighlight = "red bold 52"
  newNormal    = "green bold"
  newHighlight = "green bold 22"
[color "diff"]
  meta       = "yellow"
  frag       = "magenta bold"
  commit     = "yellow bold"
  old        = "red bold"
  new        = "green bold"
  whitespace = "red reverse"
[core]
	editor = vim
	excludesfile = /Users/fcote/.gitignore
[apply]
	whitespace = nowarn
[help]
	autocorrect = 1
[push]
	default = simple
[pager]
  diff = "diff-so-fancy | less --tabs=4 -RFX"
  show = "diff-so-fancy | less --tabs=4 -RFX"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/fcote/.stCommitMsg
