[user]
	name = François Côté
	email = francois@francoiscote.net
	useConfigOnly = true
[alias]
  l = !. ~/.githelpers && pretty_git_log
  la = !git l --all
	count = !git shortlog -sn
	ruf = !. ~/.githelpers && remove_untracked_files
	tree = log --oneline --decorate --graph
	banane = fetch --prune
[color]
	status = auto
	branch = auto
	ui = true
[color "diff-highlight"]
  oldNormal    = "red bold"
  oldHighlight = "red bold 52"
  newNormal    = "green bold"
  newHighlight = "green bold 22"
[color "diff"]
  meta       = "yellow"
  frag       = "magenta bold"
  commit     = "yellow bold"
  old        = "red bold"
  new        = "green bold"
  whitespace = "red reverse"
[core]
	excludesfile = ~/.gitignore_global
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
[merge]
    conflictstyle = zdiff3
[apply]
	whitespace = nowarn
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[pull]
  rebase = false
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
  path = "~/.gitconfig-private"
