
atom/*
!atom/config.cson
!atom/init.coffee
!atom/keymap.cson
!atom/packages-install-list.txt
!atom/projects.cson
!atom/snippets.cson
!atom/styles.cson
*.swp

config/*
!config/termite/config
!config/gtk-3.0/settings.ini
!config/fontconfig/fonts.conf
