
atom/*
!atom/config.cson
!atom/init.coffee
!atom/keymap.cson
!atom/packages-install-list.txt
!atom/projects.cson
!atom/snippets.cson
!atom/styles.less
*.swp

config/*
!config/termite/
!config/termite/config
!config/fontconfig/
!config/fontconfig/fonts.conf
