"*":
  Zen:
    gutter: true
    minimap: true
    softWrap: true
  "activate-power-mode":
    autoToggle: false
    particles:
      size:
        max: 3
        min: 1
      spawnCount: {}
    screenShake:
      enabled: false
      maxIntensity: 2
  aligner: {}
  "aligner-scss": {}
  "atom-beautify":
    css:
      preserve_newlines: true
    general:
      _analyticsUserId: "8ad713e3-3050-40d6-865d-b89bf2ce0a74"
      analytics: false
    html:
      wrap_attributes_indent_size: 2
    php:
      cs_fixer_path: "/usr/local/bin/php-cs-fixer"
      standard: "PSR2"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
      showDirectoryColumn: true
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      hyperclick: "default"
  "atom-material-ui":
    colors: {}
    fonts: {}
    tabs: {}
    treeView: {}
    ui: {}
  "atom-package-deps":
    ignored: [
      "linter-scss-lint"
    ]
  "autocomplete-php": {}
  "autocomplete-plus": {}
  "bracket-matcher": {}
  core:
    autoHideMenuBar: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "php-debug"
      "pigments"
      "linter"
      "atom-typescript"
      "minimap-linter"
      "linter-ui-default"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".svn"
      ".hg"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".tags"
    ]
    projectHome: "/home/fcote/Code"
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    atomicSoftTabs: false
    backUpBeforeSaving: true
    confirmCheckoutHeadRevision: false
    fontFamily: "Operator Mono SSm Lig"
    fontSize: 13
    invisibles: {}
    scrollSensitivity: 60
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "c0ae7570-4b22-b4eb-13a5-c0acd74f52f3"
  "file-icons": {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace": {}
  "fuzzy-finder":
    ignoredNames: [
      "bower_components"
      "node_modules"
      "vendor"
      "dist"
    ]
  "gist-it":
    newGistsDefaultToPrivate: true
    userToken: "959a639f84d09eb417c3a1e4b04dbfd20060ed24"
  "git-blame": {}
  "git-blame-plus": {}
  "git-diff": {}
  "git-history": {}
  "git-log":
    fontScale: 1
  "highlight-line":
    enableUnderline: true
  "highlight-selected":
    ignoreCase: true
  "ide-flowtype":
    tryFlowBin: true
  "isotope-ui":
    fontFamily: "System Default"
    fontWeight: "Extra light / Thin"
    minimalMode: true
  "language-babel": {}
  "lazy-motion":
    showHoverIndicator: true
  linter:
    ignoredLinterErrors: [
      "shellcheck"
    ]
    lintOnChange: false
    lintOnEditorFocus: false
    statusBar: "Show error of the selected line"
  "linter-eslint":
    globalNodePath: "/home/fcote/.nvm/versions/node/v8.1.4"
    lintHtmlFiles: true
    lintOnEdit: false
  "linter-php": {}
  "linter-phpcs":
    executablePath: "/usr/local/opt/php56/bin/phpcs"
  "linter-scss-lint":
    executablePath: "/Users/fcote/.rbenv/shims/scss-lint"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-ui-default":
    hidePanelWhenEmpty: true
    panelHeight: 184
    showPanel: true
    showProviderName: true
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-enhanced":
    enableZenMode: true
    openPreviewPaneAutomatically: false
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  minimap:
    independentMinimapScroll: true
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": false
      "minimap-hide": false
      "minimap-hideDecorationsZIndex": 0
    scrollAnimation: true
  "minimap-git-diff": {}
  "one-dark-ui": {}
  pigments:
    groupPaletteColors: "by file"
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    useEslint: true
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
    sortBy: "last modified"
  "pull-requests":
    githubAuthorizationToken: "65a1780c02c504161541cb5cab411d75cfa2da48"
    githubRootUrl: "https://github.shuttercorp.net/api/v3"
  react: {}
  script:
    cwdBehavior: "Directory of the script"
  "status-bar": {}
  "syntax-theme-auto-changer":
    syntaxMap: [
      "source.gfm:one-light-syntax"
    ]
  "theme-switch":
    darkProfiles: [
      "one-dark-ui one-dark-syntax"
    ]
    lightProfiles: [
      "one-light-ui one-light-syntax"
    ]
    profiles: [
      "one-dark-ui one-dark-syntax"
      "one-light-ui one-light-syntax"
    ]
  "tool-bar":
    position: "Right"
  "trailing-spaces":
    enableForIndentation: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".source.yaml":
  editor:
    tabLength: 2
"text.html.php":
  whitespace:
    removeTrailingWhitespace: false
