[
  {
    title: "dotfiles"
    group: "Utils"
    paths: [
      "/Users/fcote/.dotfiles"
    ]
    icon: "icon-gear"
  }
  {
    title: "Notes"
    group: "Utils"
    paths: [
      "/Volumes/GoogleDrive/My Drive/Notes"
    ]
    icon: "icon-note"
  }
  {
    title: "Overhead"
    group: "Personal"
    paths: [
      "/home/fcote/Code/overhead"
    ]
    icon: "icon-beaker"
  }
  {
    title: "Overhead API"
    group: "Personal"
    paths: [
      "/home/fcote/Code/overhead-api"
    ]
    icon: "icon-beaker"
  }
  {
    title: "Wink Twitch"
    group: "Personal"
    paths: [
      "/home/fcote/Code/wink-twitch"
    ]
    icon: "icon-beaker"
  }
  {
    title: "designbetter.co"
    group: "InVision"
    paths: [
      "~/Code/designbetter.co"
      "~/Code/designbetter.co-cms"
    ]
    icon: "icon-paintcan"
  }
  {
    title: "invisionapp.com"
    group: "InVision"
    paths: [
      "~/Code/design-v2.www.invisionapp.com"
      "~/Code/invision-www-enterprise"
    ]
    icon: "icon-paintcan"
  }
  {
    title: "InVision Docker"
    group: "InVision"
    paths: [
      "~/Code/InVision_Docker"
    ]
    icon: "icon-server"
  }
  {
    title: "invision-www-blog"
    group: "InVision"
    paths: [
      "/Users/fcote/Code/invision-www-blog"
    ]
  }
]
