git:
  paging:
    colorArg: always
    pager: delta --light --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
gui:
  skipDiscardChangeWarning: true
