"*":
  Zen:
    gutter: true
    minimap: true
    softWrap: true
  "activate-power-mode":
    autoToggle: false
    particles:
      size:
        max: 3
        min: 1
      spawnCount: {}
    screenShake:
      enabled: false
      maxIntensity: 2
  aligner: {}
  "aligner-scss": {}
  "atom-beautify":
    css:
      preserve_newlines: true
    general:
      _analyticsUserId: "8ad713e3-3050-40d6-865d-b89bf2ce0a74"
      analytics: false
    html:
      wrap_attributes_indent_size: 2
    php:
      cs_fixer_path: "/usr/local/bin/php-cs-fixer"
      standard: "PSR2"
  "atom-material-ui":
    colors: {}
    fonts: {}
    tabs: {}
    treeView: {}
    ui: {}
  "autocomplete-php": {}
  "autocomplete-plus": {}
  "bracket-matcher": {}
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "php-debug"
      "linter-phpcs"
      "whitespace"
      "linter-scss-lint"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".svn"
      ".hg"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".tags"
    ]
    projectHome: "/Users/fcote/Code"
    telemetryConsent: "limited"
    useCustomTitleBar: true
  editor:
    atomicSoftTabs: false
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    confirmCheckoutHeadRevision: false
    fontFamily: "Operator Mono"
    fontSize: 15
    invisibles: {}
    scrollSensitivity: 60
    showIndentGuide: true
    softTabs: false
    softWrap: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "c0ae7570-4b22-b4eb-13a5-c0acd74f52f3"
  "file-icons": {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "fuzzy-finder":
    ignoredNames: [
      "bower_components"
      "node_modules"
      "vendor"
    ]
  "gist-it":
    newGistsDefaultToPrivate: true
    userToken: "959a639f84d09eb417c3a1e4b04dbfd20060ed24"
  "git-blame": {}
  "git-blame-plus": {}
  "git-diff": {}
  "git-history": {}
  "git-log":
    fontScale: 1
  "highlight-line":
    enableUnderline: true
  "isotope-ui":
    fontFamily: "System Default"
    fontWeight: "Extra light / Thin"
    minimalMode: true
  "language-babel": {}
  "lazy-motion":
    showHoverIndicator: true
  linter:
    gutterPosition: "Left"
    ignoredLinterErrors: [
      "shellcheck"
    ]
    lintOnChange: false
    lintOnEditorFocus: false
    lintOnFly: false
    statusBar: "Show error of the selected line"
  "linter-eslint":
    eslintPath: "/usr/local/bin/eslint"
    globalNodePath: "/usr/local"
    lintHtmlFiles: true
    lintOnEdit: false
  "linter-php": {}
  "linter-phpcs":
    disableExecuteTimeout: true
    executablePath: "/usr/local/opt/php56/bin/phpcs"
  "linter-scss-lint":
    executablePath: "/Users/fcote/.rbenv/shims/scss-lint"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "markdown-preview":
    useGitHubStyle: true
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  minimap:
    autoToggle: false
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": false
      "minimap-hide": false
      "minimap-hideDecorationsZIndex": 0
    scrollAnimation: true
  "one-dark-ui":
    layoutMode: "Compact"
  pigments:
    groupPaletteColors: "by file"
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
  "project-manager":
    sortBy: "last modified"
  react: {}
  "status-bar": {}
  "tool-bar":
    position: "Right"
  "trailing-spaces":
    enableForIndentation: true
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".source.yaml":
  editor:
    tabLength: 2
