[
  {
    title: "rocketstock"
    paths: [
      "/Users/fcote/code/rocketstock"
    ]
    icon: "icon-rocket"
  }
  {
    title: "pbv3"
    paths: [
      "/Users/fcote/code/pbv3"
    ]
    icon: "icon-flame"
  }
  {
    title: "pb-blog"
    paths: [
      "/Users/fcote/code/pb-blog"
    ]
    icon: "icon-flame"
  }
  {
    title: "pb-api"
    paths: [
      "/Users/fcote/code/api"
    ]
    icon: "icon-flame"
  }
  {
    title: "footage"
    paths: [
      "/Users/fcote/code/php-shutterstock-footage"
    ]
    icon: "icon-device-camera-video"
  }
  {
    title: "shutterstock-mason"
    paths: [
      "/Users/fcote/code/shutterstock-mason"
    ]
    icon: "icon-device-camera-video"
  }
  {
    title: "audio"
    paths: [
      "/Users/fcote/code/shutterstock-audio"
    ]
    icon: "icon-rss"
  }
  {
    title: "audio-api"
    paths: [
      "/Users/fcote/code/shutterstock-audio-api"
    ]
    icon: "icon-code"
  }
  {
    title: "premier"
    paths: [
      "/Users/fcote/code/shutterstock-premier"
    ]
    icon: "icon-star"
  }
  {
    title: "premier-api"
    paths: [
      "/Users/fcote/code/shutterstock-premier-api"
    ]
    icon: "icon-star"
  }
  {
    title: "tarmac-cms"
    paths: [
      "/Users/fcote/code/tarmac-cms"
    ]
    icon: "icon-telescope"
  }
  {
    title: "Configs"
    paths: [
      "/Users/fcote/.dotfiles"
      "/Users/fcote/.ssh"
      "/etc"
    ]
    icon: "icon-tools"
  }
  {
    title: "Notes"
    paths: [
      "/Users/fcote/code/Notes"
    ]
    icon: "icon-file-text"
  }
  {
    title: "Shutterstock Audio Cms"
    paths: [
      "/Users/fcote/code/shutterstock-audio-cms"
    ]
  }
  {
    "*":
      whitespace:
        removeTrailingWhitespace: false
  }
]
