/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {

}

// style the background and foreground colors on the atom-text-editor-element
// itself
atom-text-editor {
}

// To style other content in the text editor's shadow DOM, use the ::shadow
// expression
atom-text-editor::shadow .cursor {

}

// Font fixes and forces of italic for Operator Mono
// ---------------------------------
atom-workspace {
  font-family: "Operator Mono Medium";
  letter-spacing: -0px;
}
atom-panel.tool-panel {
  font-size: 1.1em;
}
.entity.other.attribute-name {
   font-style: italic;
}
atom-text-editor::shadow{
   .entity.other.attribute-name {
       font-style: italic;
   }
}

// Force Fira Code for ligatures
// Operators, HTML Comments
atom-text-editor::shadow .lines .keyword.operator,
atom-text-editor::shadow .lines .punctuation.definition.comment.html {
  font-family: "Fira Code Medium";
  font-style: normal;
  text-rendering: optimizeLegibility;
}
// Disable Ligatures on the line that the cursor is currently on
atom-text-editor::shadow .lines .cursor-line .keyword.operator,
atom-text-editor::shadow .lines .cursor-line .punctuation.definition.comment.html {
  // text-rendering: auto;
}


// <?php ?> Tags coloring. replace ugly red from One Dark
//.punctuation.section.embedded {
//  color: hsl(207, 82%, 66%);
//}
